<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="path to sln" value="C:\Users\dnikolov22\source\repos\OpenJudgeSystem\Open Judge System\Open Judge System.sln" />
    <add key="root project namespace" value="OJS" />
    <add key="template name" value="Judge" />
    <add key="template description" value="Just tessting stuff..." />
    <add key="vsix version" value="0.2" />
    <add key="vsix publisher full name" value="Dancho" />
    <add key="vsix publisher username" value="dnikolovv" />
    <add key="vsix display name" value="OJS1" />
    <add key="vsix description" value="Just testing stuff..." />
    <add key="template wizard assembly" value="JudgeWizard2" />
    <add key="vsix more info" value="https://devadventures.net" />
    <add key="folders to ignore" value="bin,packages,obj,lib,.git,.vs,node_modules" />
    <add key="vsix getting started" value="https://github.com/dnikolovv/devadventures-net-core-template" />
    <add key="vsix repo" value="https://github.com/dnikolovv" />
    <add key="vsix qna enable" value="true" />
    <add key="vsix price category" value="free" />
    <add key="vsix internal name" value="dev-adventures-setup" />
    <add key="vsix categories" value="visual studio extensions,other templates" />
    <add key="vsix overview md path" value="overview.md" />
    <add key="file extensions to ignore" value=".min.js" />
    <add key="vsix tags" value="asp.net,functional,programming,either,monad,xunit" />
  </appSettings>
</configuration>