<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="path to sln" value="C:\Users\dnikolov22\source\repos\Blog.FSharpOnWeb\Blog.FSharpWebAPI.sln" />
    <add key="root project namespace" value="Blog.FSharpOnWebAPI" />
    <add key="template name" value="RandomTemplate" />
    <add key="template description" value="Just testing stuff..." />
    <add key="vsix custom project guid" value="1726E0F3-F13F-442E-A6CF-E1C8E6BE22FA" />
    <add key="vsix custom id" value="Test.cc585eac-b25d-08f0-99b2-c6d9b394449f" />
    <add key="vsix version" value="0.1" />
    <add key="vsix publisher full name" value="Dobromir Nikolov" />
    <add key="vsix publisher username" value="dnikolovv" />
    <add key="vsix display name" value="TestF#" />
    <add key="vsix description" value="Just testing stuff..." />
    <add key="template wizard assembly" value="TestWizardFSharrp" />
    <add key="vsix more info" value="https://devadventures.net" />
    <add key="folders to ignore" value="bin packages obj lib .git .vs node_modules" />
    <add key="vsix getting started" value="https://github.com/dnikolovv/devadventures-net-core-template" />
    <add key="vsix repo" value="https://github.com/dnikolovv" />
    <add key="vsix qna enable" value="true" />
    <add key="vsix price category" value="free" />
    <add key="vsix internal name" value="dev-adventures-setup" />
    <add key="vsix categories" value="visual studio extensions,other templates" />
    <add key="vsix overview md path" value="overview.md" />
    <add key="file extensions to ignore" value=".min.js" />
    <add key="vsix tags" value="asp.net,functional,programming,either,monad,xunit" />
  </appSettings>
</configuration>